h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  padding: 10px;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(181, 112, 156);
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(181, 112, 156);
  text-align: center
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #4e4c4c;
}

.container {
  max-width: 900px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: white;
}

header {
  text-align: center;
}

.responsive-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}
  
.responsive-nav {
  text-align: center;
}
.menu-toggle {
  display: none;
  margin: 10px auto;
}
    
.responsive-nav .nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.responsive-nav .nav-list a {
  text-decoration: none;
  color: rgb(108, 108, 180);
}

@media (max-width: 600px) {
  .responsive-nav .nav-list {
    display: none;
  }
}
  .responsive-nav:hover .nav-list {
    display: flex;
    flex-direction: column;
  }

  .responsive-nav .menu-toggle {
    display: block;
  }
}
  .responsive-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    
    .column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #666;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
    
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }

footer {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.media-query-box {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
    background-color: rgb(66, 170, 86);
  }
      @media (max-width: 600px) {
      .media-query-box {
        background-color: rgb(194, 31, 172);
      }
    }

@media (min-width: 601px) {
  .media-query-box {
    background-color: rgb(11, 241, 218);
  }
}